# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio specific
.vs/
*.csproj.user
*.vcxproj.user

# Rider specific
.idea/

# Mac specific
*.DS_Store

# Windows specific
Thumbs.db

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/.tnx/packages
!**/[Pp]ackages/build/
# Cache files for Package Restore
*.nuget.props
*.nuget.targets

# mstest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT test results
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Coverage results
*.coverage
*.coveragexml

# Build Verification Tests results
*.pubxml

# Microsoft Azure Build Output
csx/
ecf/
rcf/

# Referenced Binaries from other projects (ignore if referencing via project dependencies)
# Reconsider if you need to commit binaries directly
# *.dll
# *.pdb
# *.exe

# F# Interactive
*.fsx

# StyleCop
StyleCopReport.xml

# FAKE - F# Make
.fake/

# Paket CLi
.paket/paket.exe

# Roslyn files
*.ruleset

# ReSharper is a Visual Studio extension
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Netlify
.netlify

# VS Code files for those using it alongside VS
.vscode/